@import "abstracts/variables";
@import "pages/cart";
@import "pages/footer";
@import "pages/header";
@import "pages/landing";
@import "pages/product";
@import "pages/register";
@import "pages/sale";
@import "pages/shopall";

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1186px) {
    .search-bar {
        display: none;
    }
}