*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  .header__top--contact {
    font-family: "Questrial", sans-serif;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 5px;
    font-size: 0.6rem; }
    .header__top--contact li {
      list-style: none;
      text-align: right; }
      .header__top--contact li ul {
        display: inline-block; }
  
  .header__top--nav {
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    padding: 15px 20px;
    padding-bottom: 0;
    letter-spacing: 2px;
    font-size: 1rem; }
    .header__top--nav li {
      list-style: none;
      text-align: right; }
      .header__top--nav li ul {
        display: inline-block;
        padding: 15px 20px; }
      .header__top--nav li ul:hover {
        color: #42a8e7; }
  
  .header__logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    padding: 0px 20px;
    margin-top: -15px; }
  
  .header__bottom--nav {
    text-align: center;
    font-family: "Questrial", sans-serif;
    padding: 15px 20px;
    padding-left: 0;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase; }
    .header__bottom--nav li {
      display: inline-block;
      list-style: none; }
      .header__bottom--nav li ul {
        display: inline-block;
        padding: 10px 5px;
        margin: 0 15px; }
      .header__bottom--nav li ul:hover {
        border-bottom: solid #42a8e7 3px; }
    .header__bottom--nav .dropdown {
      position: relative;
      display: inline-block; }
    .header__bottom--nav .dropdown-content--categories {
      display: none;
      position: absolute;
      top: 60px;
      left: -10px;
      height: 400px;
      border: solid 4px #42a8e7;
      background-color: black;
      min-width: 1180px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1; }
      .header__bottom--nav .dropdown-content--categories p {
        color: white;
        padding: 20px; }
    .header__bottom--nav .dropdown-content--brands {
      display: none;
      position: absolute;
      top: 60px;
      left: -259px;
      height: 400px;
      border: solid 4px #42a8e7;
      background-color: black;
      min-width: 1180px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1; }
      .header__bottom--nav .dropdown-content--brands p {
        color: white;
        padding: 20px; }
    .header__bottom--nav .dropdown-content--catname--hover, .header__bottom--nav .dropdown-content--brandname--hover {
      display: inline-block;
      padding: 10px 0;
      color: white;
      border-bottom: solid #42a8e7 3px;
      font-family: "Questrial", sans-serif;
      letter-spacing: 2px;
      font-size: 1rem;
      display: none;
      position: absolute;
      top: 0; }
    .header__bottom--nav .dropdown-content--catbox {
      display: none;
      background-color: black;
      width: 235px;
      height: 74px;
      z-index: 1;
      position: absolute;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: -10px;
      left: -10px;
      border: solid 4px #42a8e7;
      border-bottom: none; }
    .header__bottom--nav .dropdown-content--brandbox {
      display: none;
      background-color: black;
      width: 196px;
      height: 74px;
      z-index: 1;
      position: absolute;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: -10px;
      left: -10px;
      border: solid 4px #42a8e7;
      border-bottom: none; }
    .header__bottom--nav .dropdown:hover .dropdown-content--categories, .header__bottom--nav .dropdown:hover .dropdown-content--brands,
    .header__bottom--nav .dropdown-content--categories:hover .dropdown-content--categories, .header__bottom--nav .dropdown-content--brands:hover .dropdown-content--brands {
      display: block;
      z-index: 2; }
    .header__bottom--nav .dropdown:hover .dropdown-content--catbox,
    .header__bottom--nav .dropdown:hover .dropdown-content--brandbox,
    .header__bottom--nav .dropdown-content--categories:hover .dropdown-content--catbox, .header__bottom--nav .dropdown-content--brands:hover .dropdown-content--brandbox {
      display: block;
      z-index: 3; }
    .header__bottom--nav .dropdown:hover .dropdown-content--catname--hover, .header__bottom--nav .dropdown:hover .dropdown-content--brandname--hover,
    .header__bottom--nav .dropdown-content--categories:hover
  .dropdown-content--catname--hover, .header__bottom--nav .dropdown-content--brands:hover .dropdown-content--brandname--hover {
      display: block;
      z-index: 4; }
  
  .landing__ads {
    padding: 5px 20px;
    margin-bottom: 40px; }
    .landing__ads img {
      width: 97vw;
      height: 400px;
      max-width: 1180px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  
  .landing__just-arrived {
    margin-bottom: 30px; }
    .landing__just-arrived h3 {
      text-align: center;
      font-family: "Vollkorn", serif;
      font-size: 2.3rem;
      letter-spacing: 2px; }
    .landing__just-arrived--products {
      text-align: center;
      height: 250px;
      margin: 10px 20px; }
      .landing__just-arrived--products img {
        width: 200px;
        height: 180px; }
      .landing__just-arrived--products .product {
        display: inline-block;
        padding: 10px;
        width: 200px; }
        .landing__just-arrived--products .product-brand {
          font-weight: bold;
          font-size: 1.1rem;
          letter-spacing: 2px;
          font-family: "Vollkorn", serif; }
  
  .landing__brands {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px; }
    .landing__brands--name {
      margin: 0.2% 1.5%;
      width: 20%;
      height: 250px;
      display: inline-block;
      background-color: white; }
      .landing__brands--name img {
        width: 100%;
        height: 200px; }
    .landing__brands--title {
      background-color: black;
      color: white;
      font-family: "Questrial", sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      padding: 20px; }
  
  .landing__article {
    position: relative;
    margin-top: 70px; }
    .landing__article img {
      width: 93vw;
      max-width: 1192.13px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .landing__article--description {
      position: absolute;
      top: 200px;
      left: 180px;
      font-size: 2.5rem;
      font-family: "Vollkorn", serif;
      padding-bottom: 8px;
      border-bottom: 3px solid #42a8e7; }
    .landing__article--subdescription {
      position: absolute;
      color: #42a8e7;
      top: 270px;
      left: 180px;
      font-size: 1.2rem;
      font-family: "Questrial", sans-serif; }
  
  .search-bar {
    display: inline-block;
    margin-left: 60px; }
    .search-bar input {
      font-family: "Questrial", sans-serif;
      border: none;
      border-bottom: solid #42a8e7 3px;
      width: 250px;
      font-size: 1rem;
      padding: 10px 2px; }
    .search-bar i {
      font-size: 1.2rem; }