$primary-originalcolor: #42a8e7;
$primary-color: #3d8ab9;
$primary-darkcolor: #2f6484;
$secondary-lightcolor: #eff3f5; 
$secondary-darkcolor: #c9d6de;
$tertiary-color: #1a1f21;
$secondary-font: 'Questrial', sans-serif;
$tertiary-font: 'Vollkorn', serif;
$primary-font:  'Lato', sans-serif;

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header
.header {
    &__top--contact {
        font-family: $secondary-font;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: 10px 20px;
        letter-spacing: 5px;
        font-size: 0.6rem;
        li {
            list-style: none;
            text-align: right;
            ul {
                display: inline-block;
                margin: auto 1%;
            }
        }
    }
    &__top--nav {
        font-family: $secondary-font;
        text-transform: uppercase;
        padding: 15px 20px;
        padding-bottom: 0;
        padding-top: 0;
        letter-spacing: 2px;
        font-size: 1rem;
        li {
            list-style: none;
            text-align: right;
            ul, a:visited, a:link {
                text-decoration: none;
                display: inline-block;
                padding: 15px 20px;
                color: black;
            }
            ul:hover, a:hover {
                color: $primary-color;
            }
        }
    }
    &__logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        padding: 0px 20px;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    &__bottom--nav {
        text-align: center;
        font-family: $secondary-font;
        padding: 15px 20px;
        padding-left: 0;
        letter-spacing: 2px;
        font-size: 1rem;
        text-transform: uppercase;
        li {
            display: inline-block;
            list-style: none;
            ul {
                display: inline-block;
                padding: 10px 5px;
                margin: 0 15px;
                // background-color: lightblue;
            }
            ul:hover {
                border-bottom: solid $primary-color 3px;
            }
        }
        .dropdown {
            position: relative;
            display: inline-block;
            a:link, a:visited, a:active {
                color: black;
                text-decoration: none;
            }
        }
        .dropdown-content--categories {
            display: none;
            position: absolute;
            top: 60px;
            left: -23px;
            height: 380px;
            border: solid 4px $secondary-darkcolor;
            background-color: $secondary-lightcolor;
            // min-width: 930px;
            width: 268px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            text-align: left;
            .category {
                color: $primary-color;
                z-index: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                border-bottom: none;
                li {
                    width: 215px;
                    padding: 15px 10px;
                    margin-left: -10px;

                }
            }
        }

        .dropdown-content--brands {
            display: none;
            position: absolute;
            top: 60px;
            left: -23px;
            height: 380px;
            border: solid 4px $secondary-darkcolor;
            background-color: $secondary-lightcolor;
            width: 220px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            text-align: left;
            .category {
                color: $primary-color;
                z-index: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                border-bottom: none;
                li {
                    width: 215px;
                    padding: 15px 10px;
                    margin-left: -10px;

                }
            }
        }

        .dropdown-content--catname--hover, .dropdown-content--brandname--hover {
            display: inline-block;
            padding: 10px 0;
            color: black;
            border-bottom: solid $primary-color 3px;
            font-family: $secondary-font;
            letter-spacing: 2px;
            font-size: 1rem;
            display: none;
            position: absolute;
            top: 0;
        }

        // put box behind title
        .dropdown-content--catbox {
            display: none;
            background-color: $secondary-darkcolor;
            width: 268px;
            height: 74px;
            z-index: 1;
            position: absolute; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            top: -10px;
            left: -23px;
            border: solid 4px $secondary-darkcolor;
            border-bottom: none;
        }
        .dropdown-content--brandbox {
            display: none;
            background-color: $secondary-darkcolor;
            width: 220px;
            height: 74px;
            z-index: 1;
            position: absolute; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            top: -10px;
            left: -23px;
            border: solid 4px $secondary-darkcolor;
            border-bottom: none;
        }   

        // drop down menu on hover
        .dropdown:hover .dropdown-content--categories, .dropdown:hover .dropdown-content--brands,
        .dropdown-content--categories:hover .dropdown-content--categories, .dropdown-content--brands:hover .dropdown-content--brands,  {
            display: block;
            z-index: 2;
        }

        // drop down boxes on hover
        .dropdown:hover .dropdown-content--catbox,
        .dropdown:hover .dropdown-content--brandbox,  
        .dropdown-content--categories:hover .dropdown-content--catbox, .dropdown-content--brands:hover .dropdown-content--brandbox {
            display: block;
            z-index: 3;
        }

        // change title
        .dropdown:hover .dropdown-content--catname--hover, .dropdown:hover .dropdown-content--brandname--hover,
        .dropdown-content--categories:hover, .dropdown-content--brands:hover,
        .dropdown-content--categories:hover .dropdown-content--catname--hover, .dropdown-content--brands:hover .dropdown-content--brandname--hover 
        {
            display: block;
            z-index: 4;
        }

    }
}

// Landing page
.landing {
    &__ads {
        padding: 5px 20px;
        // border: solid 4px $tertiary-color;
        // background-color: $tertiary-color;
        img {
            width: 97vw;
            height: 400px;
            max-width: 1180px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    // #slideshow {
    //     overflow: hidden;
    //     height: 510px;
    //     width: 1180px;
    //     margin: 0 auto;
    //   }
      
    //   .slide-wrapper {
    //     width: 2912px;
    //     -webkit-animation: slide 50s ease infinite;
    //     padding: 5px 20px;
    //     margin-bottom: 40px;
    //   }
      
    //   .slide {
    //     float: left;
    //     width: 97vw;
    //     height: 400px;
    //     max-width: 1180px;
    //   }
      
    //   @-webkit-keyframes slide {
    //     // 20% {margin-left: 0px;}
    //     // 30% {margin-left: -728px;}
    //     // 50% {margin-left: -728px;}
    //     // 60% {margin-left: -1456px;}
    //     // 70% {margin-left: -1456px;}
    //     // 80% {margin-left: -2184px;}
    //     50% {margin-left: -1200px;}
    //     90% {margin-left: -1200px;}
    //   }


    &__just-arrived {
        margin-bottom: 20px;
    }
    &__just-arrived, &__bestsellers {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: #eff3f5;
        h3 {
            text-align: center;
            font-family: $primary-font;
            font-size: 2.3rem;
            letter-spacing: 2px;
            padding-bottom: 20px;
            border-bottom: #3d8ab9 solid 5px;
            width: 40%;
            margin: auto auto;
        }
        &--products {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            height: 330px;
            width: 98vw;
            margin: 10px 20px;
            margin-left: 0;
            background-color: #eff3f5; 
            overflow: hidden;
            position: relative;
            img {
                width: 180px;
                height: 180px;
            }
            .product {
                display: inline-block;
                padding: 10px;
                height: 100%;
                width: 200px;
                &-description {
                    display: inline-block;
                    background-color: #c9d6de;
                    width: 100%;
                    height: 125px;
                    font-size: 0.9rem;
                    padding: 5px;
                    border-top: solid 4px $primary-color;
                }
                &-brand {
                    font-weight: bold;
                    font-size: 1.1rem;
                    letter-spacing: 2px;
                    font-family: $tertiary-font;
                }
            }
            /* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 40%;
                color: black;
                font-weight: bold;
                font-size: 30px;
                transition: 0.6s ease;
            }
            
            /* Position the "next button" to the right */
            .next {
                right: 25px;
            }
            .prev {
                left: 25px;
            }
            
            /* On hover, change color */
            .prev:hover, .next:hover {
                color: $primary-color !important;
            }
        }
    }
    &__brands {
        text-align: center;
        padding: 20px;
        padding-left: 60px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 1400px;
        &--name {
            margin: 0.2% 1.5%;
            width: 20%;
            height: 250px;
            display: inline-block;
            background-color: white;
            img {
                width: 100%;
                height: 200px;
            }
        }
        &--title {
            background-color: black;
            color: white;
            font-family: $secondary-font;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            padding: 20px;
        }
    }
    &__blog {
        margin: 0;
        position: relative;
        background-color: $secondary-darkcolor;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px; 
        width: 100vw;
        font-family: $primary-font;
        border-top: solid 4px #a6b6bd;
        border-bottom: solid 4px #a6b6bd;
        &--pic {
            display: inline-block;
            width: 420px;
            height: 100%;
            img {
                padding-top: 0;
                width: 50%;
                height: 100%;
                display: inline-block;
            }
        }
        &--read {
            display: inline-block;
            width: 50%;
            min-height: 400px;
            background-color: $secondary-lightcolor;
            padding: 50px 45px;
            position: relative;
            h3 {
                font-size: 2rem;
                font-weight: bold;
                margin: 20px auto;
                margin-left: 0;
                border-bottom: 4px solid $primary-color;
                width: 260px;
                padding-bottom: 10px;
            }
            p {
                padding: auto 10px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            button {
                background-color: $secondary-darkcolor;
                width: 200px;
                height: 40px;
                color: black;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
            }
        }
    }
}

.search-bar {
    display: inline-block;
    margin-left: 60px;
    input {
        font-family: $secondary-font;
        border: none;
        border-bottom: solid $primary-color 3px;
        width: 250px;
        font-size: 1rem;
        padding: 10px 2px;
    }
    i {
        font-size: 1.2rem;
    }
}

// Shop all page
.shop-all {
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    .filter {
        margin-left: 2%;
        padding: auto 10px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: 300px;
        height: 100%;
        background-color: #eff3f5;
        h3 {
            margin: 20px auto;
            text-transform: uppercase;
            font-size: 1.3rem;
            padding-bottom: 20px;
            border-bottom: $primary-color solid 3px;
            letter-spacing: 2px;
        }
        label {
            padding: 2px 10px;
            letter-spacing: 1px;
        }
        input {
            margin: 8px auto;
        }
    }
    .products-gallery {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 30px 20px;
        margin-right: 2%;
        background-color: #f9f9f9;
        .product {
            display: inline-block;
            padding: 10px 5px;
            width: 180px;
            text-align: center;
            font-size: 0.9rem;
            img {
                width: 160px;
                height: 150px;
            }
            &-brand {
                font-weight: bold;
                font-size: 1.1rem;
                letter-spacing: 2px;
                font-family: $tertiary-font;
            }
            &-description {
                background-color: #c9d6de;
                width: 100%;
                height: 125px;
                font-size: 0.9rem;
                padding: 5px;
                border-top: solid 4px $primary-color;
            }
        }
    }
}

// Login page
.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $secondary-darkcolor;
    .login {
        font-family: $primary-font;
        width: 100%;
        position: relative;
        width: 450px;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $secondary-lightcolor;
        &-pic {
            width: 480px;
            height: 450px;
        }
        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            padding: 30px;
            padding-top: 0;
            text-align: center;
            letter-spacing: 3px;
            .current-register {
                color: $primary-color;
            }
            a.other-register {
                color: black;
                text-decoration: none;
                padding-bottom: 10px;
            }
            a:hover.other-register {
                border-bottom: $primary-color solid 3px;
            }
        }
        label {
            text-transform: uppercase;
            display: block;
            padding-left: 30px;
            padding-bottom: 10px;
        }
        input {
            width: 400px;
            height: 40px;
            display: block;
            margin: auto auto;
            margin-bottom: 20px;
        }
        .remember-me {
            margin-top: -20px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            label, input {
                display: inline;
                vertical-align: center;
                padding: 0;
                margin: 0;
                text-transform: capitalize;
            }
            label {
                padding-left: 10px;
            }
            input {
                width: 20px;
                height: 60px;
            }
        }
        input[type="submit"] {
            font-size: 1rem;
            width: 120px;
            height: 35px;
            text-transform: uppercase;
            margin: auto auto;
            background-color: $secondary-darkcolor;
        }
        a.forget-password {
            color: $primary-color;
            text-decoration: none;
            display: block;
            margin: auto auto;
            text-align: center;
        }
    }
    .signup {
        font-family: $primary-font;
        width: 100%;
        position: relative;
        width: 850px;
        display: block;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: $secondary-lightcolor;
        &-pic {
            width: 930px;
            height: 606px;
            position: absolute;
        }
        table {
            margin: auto auto;
            td {
                padding-right: 20px;
                label {
                    padding-left: 5px;
                }
            }
        }
        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            margin: auto auto;
            display: block;
            width: 390px;
            padding: 30px;
            padding-top: 0;
            letter-spacing: 3px;
            .current-register {
                color: $primary-color;
            }
            a.other-register {
                color: black;
                text-decoration: none;
                padding-bottom: 10px;
            }
            a:hover.other-register {
                border-bottom: $primary-color solid 3px;
            }
        }
        label {
            text-transform: uppercase;
            display: block;
            padding-bottom: 10px;
        }
        input {
            width: 350px;
            height: 40px;
            display: block;
            margin-bottom: 20px;
        }
        select {
            width: 32%;
            height: 40px;
            margin-right: 9px;
            margin-bottom: 20px;
            font-size: 0.9rem;
        }
        input[type="submit"] {
            font-size: 1rem;
            width: 120px;
            height: 35px;
            text-transform: uppercase;
            margin: auto auto;
            background-color: $secondary-darkcolor;
        }
    }
}

.footer {
    height: 100%;
    position: relative;
    padding: 0;
    background-color: $primary-darkcolor;
    font-family: $primary-font;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    &__links {
        display: flex;
        padding: 20px;
        .information, .brands, .contact {
            padding: 20px;
            display: inline-block;
            width: 300px;
            h3 {
                font-size: 1.2rem;
                padding: 5px;
            }
            li {
                font-size: 0.9rem;
                list-style-type: none;
                color: black;
                padding: 5px;
            }
            a {
                color: black;
            }
        }
        .contact {
            width: 350px;
        }
    }
    .chatbox {
        width: 360px;
        height: 300px;
        position: absolute;
        bottom: 30px;
        right: 20px;
        border: solid 4px black;
        color: black;
        text-align: center;
        border-radius: 20px;
        background-color: $secondary-darkcolor;
        font-family: $primary-font;
        letter-spacing: 4px;
        h3 {
            font-size: 1.3rem;
            background-color: black;
            padding: 10px;
            color: $secondary-lightcolor;
        }

    }
    &__subscribe {
        background-color: $secondary-lightcolor;
        color: black;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        &--newsletter {
            width: 580px;
            display: inline-block;
            border-right: solid 4px $primary-color;
            margin-left: -20px;
            label {
                font-size: 1.4rem;
                font-weight: bold;
                padding: 10px;
            }
            input {
                width: 400px;
                height: 40px;
                padding: 10px;
            }
            button {
                width: 40px;
                height: 40px;
                background-color: $secondary-darkcolor;
                font-size: 1rem;
            }
            button:hover {
                background-color: $tertiary-color;
                color: $secondary-darkcolor;
            }
        }
        &--social {
            width: 250px; 
            display: inline-block;
            h3 {
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            margin: 5px;
          }
          
          .fa:hover {
              background: $secondary-darkcolor;
              color: $tertiary-color;
          }
        .fa-instagram, .fa-facebook {
            background: $tertiary-color;
            color: $secondary-darkcolor;
        }
    }
    &__copyright {
        font-family: $secondary-font;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: 10px 20px;
        letter-spacing: 5px;
        font-size: 0.6rem;
        text-align: center;
    }
}

@media (max-width: 1186px) {
    .search-bar {
        display: none;
    }
}