$primary-color: #42a8e7;
$secondary-font: 'Questrial', sans-serif;
$tertiary-font: 'Vollkorn', serif;
$primary-font:  'Lato', sans-serif;

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    &__top--contact {
        font-family: $secondary-font;
        background-color: black;
        color: white;
        text-transform: uppercase;
        padding: 10px 20px;
        letter-spacing: 5px;
        font-size: 0.6rem;
        li {
            list-style: none;
            text-align: right;
            ul {
                display: inline-block;
                margin: auto 1%;
            }
        }
    }
    &__top--nav {
        font-family: $secondary-font;
        text-transform: uppercase;
        padding: 15px 20px;
        padding-bottom: 0;
        letter-spacing: 2px;
        font-size: 1rem;
        li {
            list-style: none;
            text-align: right;
            ul, a:visited, a:link {
                text-decoration: none;
                display: inline-block;
                padding: 15px 20px;
                color: black;
            }
            ul:hover, a:hover {
                color: $primary-color;
            }
        }
    }
    &__logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        padding: 0px 20px;
        margin-top: -15px;
    }
    &__bottom--nav {
        text-align: center;
        font-family: $secondary-font;
        padding: 15px 20px;
        padding-left: 0;
        letter-spacing: 2px;
        font-size: 1rem;
        text-transform: uppercase;
        li {
            display: inline-block;
            list-style: none;
            ul {
                display: inline-block;
                padding: 10px 5px;
                margin: 0 15px;
                // background-color: lightblue;
            }
            ul:hover {
                border-bottom: solid $primary-color 3px;
            }
        }
        .dropdown {
            position: relative;
            display: inline-block;
            a:link, a:visited, a:active {
                color: black;
                text-decoration: none;
            }
        }
        .dropdown-content--categories {
            display: none;
            position: absolute;
            top: 60px;
            left: -23px;
            height: 380px;
            border: solid 4px $primary-color;
            background-color: black;
            // min-width: 930px;
            width: 268px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            text-align: left;
            .category {
                color: white;
                z-index: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                border-bottom: none;
                li {
                    width: 215px;
                    padding: 15px 10px;
                    margin-left: -10px;

                }
            }
        }

        .dropdown-content--brands {
            display: none;
            position: absolute;
            top: 60px;
            left: -23px;
            height: 380px;
            border: solid 4px $primary-color;
            background-color: black;
            width: 220px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
            text-align: left;
            .category {
                color: white;
                z-index: 2;
                text-align: left;
                display: flex;
                flex-direction: column;
                border-bottom: none;
                li {
                    width: 215px;
                    padding: 15px 10px;
                    margin-left: -10px;

                }
            }
        }

        .dropdown-content--catname--hover, .dropdown-content--brandname--hover {
            display: inline-block;
            padding: 10px 0;
            color: white;
            border-bottom: solid $primary-color 3px;
            font-family: $secondary-font;
            letter-spacing: 2px;
            font-size: 1rem;
            display: none;
            position: absolute;
            top: 0;
        }

        // put box behind title
        .dropdown-content--catbox {
            display: none;
            background-color: black;
            width: 268px;
            height: 74px;
            z-index: 1;
            position: absolute; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            top: -10px;
            left: -23px;
            border: solid 4px $primary-color;
            border-bottom: none;
        }
        .dropdown-content--brandbox {
            display: none;
            background-color: black;
            width: 220px;
            height: 74px;
            z-index: 1;
            position: absolute; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            top: -10px;
            left: -23px;
            border: solid 4px $primary-color;
            border-bottom: none;
        }   

        // drop down menu on hover
        .dropdown:hover .dropdown-content--categories, .dropdown:hover .dropdown-content--brands,
        .dropdown-content--categories:hover .dropdown-content--categories, .dropdown-content--brands:hover .dropdown-content--brands,  {
            display: block;
            z-index: 2;
        }

        // drop down boxes on hover
        .dropdown:hover .dropdown-content--catbox,
        .dropdown:hover .dropdown-content--brandbox,  
        .dropdown-content--categories:hover .dropdown-content--catbox, .dropdown-content--brands:hover .dropdown-content--brandbox {
            display: block;
            z-index: 3;
        }

        // change title
        .dropdown:hover .dropdown-content--catname--hover, .dropdown:hover .dropdown-content--brandname--hover,
        .dropdown-content--categories:hover, .dropdown-content--brands:hover,
        .dropdown-content--categories:hover .dropdown-content--catname--hover, .dropdown-content--brands:hover .dropdown-content--brandname--hover 
        {
            display: block;
            z-index: 4;
        }

    }
}

.landing {
    &__ads {
        padding: 5px 20px;
        margin-bottom: 40px;
        img {
            width: 97vw;
            height: 400px;
            max-width: 1180px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    // #slideshow {
    //     overflow: hidden;
    //     height: 510px;
    //     width: 1180px;
    //     margin: 0 auto;
    //   }
      
    //   .slide-wrapper {
    //     width: 2912px;
    //     -webkit-animation: slide 50s ease infinite;
    //     padding: 5px 20px;
    //     margin-bottom: 40px;
    //   }
      
    //   .slide {
    //     float: left;
    //     width: 97vw;
    //     height: 400px;
    //     max-width: 1180px;
    //   }
      
    //   @-webkit-keyframes slide {
    //     // 20% {margin-left: 0px;}
    //     // 30% {margin-left: -728px;}
    //     // 50% {margin-left: -728px;}
    //     // 60% {margin-left: -1456px;}
    //     // 70% {margin-left: -1456px;}
    //     // 80% {margin-left: -2184px;}
    //     50% {margin-left: -1200px;}
    //     90% {margin-left: -1200px;}
    //   }



    &__just-arrived, &__bestsellers {
        margin-top: 20px;
        padding-top: 30px;
        margin-bottom: 20px;
        background-color: #eff3f5;
        h3 {
            text-align: center;
            font-family: $primary-font;
            font-size: 2.3rem;
            letter-spacing: 2px;
            padding-bottom: 20px;
            border-bottom: #3d8ab9 solid 5px;
            width: 40%;
            margin: auto auto;
        }
        &--products {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            height: 330px;
            width: 98vw;
            margin: 10px 20px;
            margin-left: 0;
            background-color: #eff3f5;
            overflow: hidden;
            img {
                width: 180px;
                height: 180px;
            }
            .product {
                display: inline-block;
                padding: 10px;
                height: 100%;
                width: 200px;
                &-description {
                    display: inline-block;
                    background-color: #c9d6de;
                    width: 100%;
                    height: 125px;
                    font-size: 0.9rem;
                    padding: 5px;
                }
                &-brand {
                    font-weight: bold;
                    font-size: 1.1rem;
                    letter-spacing: 2px;
                    font-family: $tertiary-font;
                }
            }
        }
    }
    &__brands {
        text-align: center;
        padding: 20px;
        padding-left: 60px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 1400px;
        &--name {
            margin: 0.2% 1.5%;
            width: 20%;
            height: 250px;
            display: inline-block;
            background-color: white;
            img {
                width: 100%;
                height: 200px;
            }
        }
        &--title {
            background-color: black;
            color: white;
            font-family: $secondary-font;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
            padding: 20px;
        }
    }
    &__article {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #c3c3c3;
        img {
            width: 97vw;
            max-width: 1192.13px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &--description {
            position: absolute; 
            top: 200px;
            left: 180px;
            font-size: 2.5rem;
            font-family: $tertiary-font;
            padding-bottom: 8px;
            border-bottom: 3px solid $primary-color;
        }
        &--subdescription {
            position: absolute; 
            color: $primary-color;
            top: 270px;
            left: 180px;
            font-size: 1.2rem;
            font-family: $secondary-font;
        }
    }
    // &__read-button {
    //     position: absolute;
    //     top: 290px;
    //     left: 180px;
    //     background-color: white;
    //     width: 350px;
    //     text-align: center;
    //     border: black 1px solid;
    //     text-transform: uppercase;
    //     font-family: $secondary-font;
    //     padding: 10px 7px;
    //     color: $primary-color;
    //     border: $primary-color 1px solid;
    // }
    // &__read-button:hover {
    //     color: $primary-color;
    //     border: $primary-color 1px solid;
    // }
}

.search-bar {
    display: inline-block;
    margin-left: 60px;
    input {
        font-family: $secondary-font;
        border: none;
        border-bottom: solid $primary-color 3px;
        width: 250px;
        font-size: 1rem;
        padding: 10px 2px;
    }
    i {
        font-size: 1.2rem;
    }
}

.shop-all {
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    .filter {
        margin-left: 3%;
        padding: auto 10px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 30px;
        padding-bottom: 30px;
        min-width: 300px;
        height: 100%;
        background-color: #eff3f5;
        h3 {
            margin: 20px auto;
            text-transform: uppercase;
            font-size: 1.3rem;
            padding-bottom: 20px;
            border-bottom: $primary-color solid 3px;
            letter-spacing: 2px;
        }
        label {
            padding: 2px 10px;
            letter-spacing: 1px;
        }
        input {
            margin: 8px auto;
        }
    }
    .products-gallery {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 30px 20px;
        .product {
            display: inline-block;
            padding: 10px 8px;
            width: 180px;
            text-align: center;
            font-size: 0.9rem;
            img {
                width: 160px;
                height: 150px;
            }
            &-brand {
                font-weight: bold;
                font-size: 1.1rem;
                letter-spacing: 2px;
                font-family: $tertiary-font;
            }
            &-description {
                background-color: #c9d6de;
                width: 100%;
                height: 125px;
                font-size: 0.9rem;
                padding: 5px;
            }
        }
    }
}

// Login page
.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    .login {
        font-family: $primary-font;
        width: 30%;
        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            padding: 30px;
            padding-top: 0;
            letter-spacing: 3px;
            .current-register {
                color: $primary-color;
            }
            a.other-register {
                color: black;
                text-decoration: none;
                padding-bottom: 10px;
            }
            a:hover.other-register {
                border-bottom: $primary-color solid 3px;
            }
        }
        label {
            text-transform: uppercase;
            display: block;
            padding-bottom: 10px;
        }
        input {
            width: 400px;
            height: 40px;
            display: block;
            margin-bottom: 20px;
        }
        .remember-me {
            margin-top: -20px;
            display: flex;
            align-items: center;
            label, input {
                display: inline;
                vertical-align: center;
                padding: 0;
                margin: 0;
                text-transform: capitalize;
            }
            input {
                width: 30px;
                height: 60px;
            }
        }
        input[type="submit"] {
            font-size: 3rem;
            width: 200px;
            height: 100px;
            text-transform: uppercase;
            text-align: center;
        }
        a.forget-password {
            color: $primary-color;
            text-decoration: none;
        }
    }
    .signup {
        font-family: $primary-font;
        margin: 50px 30px;
        width: 30%;
        margin-top: 0;
        table {
            margin-left: -170px;
            td {
                padding-right: 20px;
            }
        }
        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            padding: 30px;
            padding-top: 0;
            letter-spacing: 3px;
            .current-register {
                color: $primary-color;
            }
            a.other-register {
                color: black;
                text-decoration: none;
                padding-bottom: 10px;
            }
            a:hover.other-register {
                border-bottom: $primary-color solid 3px;
            }
        }
        label {
            text-transform: uppercase;
            display: block;
            padding-bottom: 10px;
        }
        input {
            width: 350px;
            height: 40px;
            display: block;
            margin-bottom: 20px;
        }
        select {
            width: 32%;
            height: 40px;
            margin-right: 9px;
            margin-bottom: 20px;
            font-size: 0.9rem;
        }
        input[type="submit"] {
            font-size: 1.5rem;
            width: 70px;
            height: 30px;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1186px) {
    .search-bar {
        display: none;
    }
}