$primary-originalcolor: #42a8e7;
$primary-color: #3d8ab9;
$primary-darkcolor: #2f6484;
$secondary-lightcolor: #eff3f5; 
$secondary-darkcolor: #c9d6de;
$tertiary-color: #1a1f21;
$secondary-font: 'Questrial', sans-serif;
$tertiary-font: 'Vollkorn', serif;
$primary-font:  'Lato', sans-serif;